# TRANSFORMACIÓN, FILTRACIÓN Y REORDENAMIENTO

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('../Datasets/Air_Quality.csv', sep=',')

In [6]:
df_limpiar = df.copy()
df_limpiar

df_Dropped = df_limpiar.dropna(axis=1, how='all')
df_Dropped

df_3 = df_Dropped.copy()
df_3

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,06/01/2013,34.64
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,06/01/2014,33.22
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,06/01/2013,31.25
3,219970,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,06/01/2014,31.15
4,164876,383,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,12/01/2008,5.89
...,...,...,...,...,...,...,...,...,...,...,...
16117,671118,386,Ozone (O3),Mean,ppb,CD,306,Park Slope and Carroll Gardens (CD6),Summer 2020,06/01/2020,28.70
16118,671119,386,Ozone (O3),Mean,ppb,CD,305,East New York and Starrett City (CD5),Summer 2020,06/01/2020,29.56
16119,671120,386,Ozone (O3),Mean,ppb,CD,304,Bushwick (CD4),Summer 2020,06/01/2020,29.65
16120,671121,386,Ozone (O3),Mean,ppb,CD,303,Bedford Stuyvesant (CD3),Summer 2020,06/01/2020,29.28
16121,671122,386,Ozone (O3),Mean,ppb,CD,302,Fort Greene and Brooklyn Heights (CD2),Summer 2020,06/01/2020,28.93

In [7]:
def revisar_secuencia_index():
    indices_actuales = df_3.index
    #Crear una secuencia esperada (por ejemplo, una secuencia numérica)
    secuencia_esperada = pd.Index(range(indices_actuales.min(), indices_actuales.max() + 1))

    # Comparar
    if indices_actuales.equals(secuencia_esperada):
        print("La secuencia de índices es la esperada.")
    else:
        print("La secuencia de índices ha cambiado.")

In [8]:
revisar_secuencia_index()

La secuencia de índices es la esperada.

In [10]:
df_Limpio= df_3.reset_index(drop = True)
df_Limpio

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,06/01/2013,34.64
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,06/01/2014,33.22
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,06/01/2013,31.25
3,219970,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,06/01/2014,31.15
4,164876,383,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,12/01/2008,5.89
...,...,...,...,...,...,...,...,...,...,...,...
16117,671118,386,Ozone (O3),Mean,ppb,CD,306,Park Slope and Carroll Gardens (CD6),Summer 2020,06/01/2020,28.70
16118,671119,386,Ozone (O3),Mean,ppb,CD,305,East New York and Starrett City (CD5),Summer 2020,06/01/2020,29.56
16119,671120,386,Ozone (O3),Mean,ppb,CD,304,Bushwick (CD4),Summer 2020,06/01/2020,29.65
16120,671121,386,Ozone (O3),Mean,ppb,CD,303,Bedford Stuyvesant (CD3),Summer 2020,06/01/2020,29.28
16121,671122,386,Ozone (O3),Mean,ppb,CD,302,Fort Greene and Brooklyn Heights (CD2),Summer 2020,06/01/2020,28.93

In [12]:
column_name_mapping = {
'Unique ID': 'ID ', 
'Indicator ID': 'ID Indicador', 
'Name':'Tipo Contaminante', 
'Measure': 'Medida', 
'Measure Info': 'Info Medida',
'Geo Type Name': 'Tipo Geografico', 
'Geo Join ID': 'ID Geografico', 
'Geo Place Name' :'Lugar Geografico' , 
'Time Period': 'Periodo Tiempo' ,
'Start_Date': 'Fecha Inicio', 
'Data Value': 'Valor'
}

In [25]:
df_TablaLimpia = df_Limpio.rename(columns= column_name_mapping)
df_TablaLimpia.head(5)

,ID,ID Indicador,Tipo Contaminante,Medida,Info Medida,Tipo Geografico,ID Geografico,Lugar Geografico,Periodo Tiempo,Fecha Inicio,Valor
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,06/01/2013,34.64
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,06/01/2014,33.22
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,06/01/2013,31.25
3,219970,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,06/01/2014,31.15
4,164876,383,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,12/01/2008,5.89

In [26]:
df_TablaLimpia.dtypes

ID                     int64
ID Indicador           int64
Tipo Contaminante     object
Medida                object
Info Medida           object
Tipo Geografico       object
ID Geografico          int64
Lugar Geografico      object
Periodo Tiempo        object
Fecha Inicio          object
Valor                float64
dtype: object

## Cambio de Formato a la fecha

In [27]:
pd.to_datetime(df_TablaLimpia['Fecha Inicio'] )

0       2013-06-01
1       2014-06-01
2       2013-06-01
3       2014-06-01
4       2008-12-01
           ...
16117   2020-06-01
16118   2020-06-01
16119   2020-06-01
16120   2020-06-01
16121   2020-06-01
Name: Fecha Inicio, Length: 16122, dtype: datetime64[ns]

In [28]:
df_TablaLimpia['Fecha Inicio'] = pd.to_datetime(df_TablaLimpia['Fecha Inicio'] )

In [29]:
df_TablaLimpia.head(5)

,ID,ID Indicador,Tipo Contaminante,Medida,Info Medida,Tipo Geografico,ID Geografico,Lugar Geografico,Periodo Tiempo,Fecha Inicio,Valor
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,2013-06-01,34.64
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,2014-06-01,33.22
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,2013-06-01,31.25
3,219970,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,2014-06-01,31.15
4,164876,383,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,2008-12-01,5.89

In [30]:
df_TablaLimpia.dtypes

ID                            int64
ID Indicador                  int64
Tipo Contaminante            object
Medida                       object
Info Medida                  object
Tipo Geografico              object
ID Geografico                 int64
Lugar Geografico             object
Periodo Tiempo               object
Fecha Inicio         datetime64[ns]
Valor                       float64
dtype: object